#  сервер mysql установил. как вам показать,что он установлн-не знаю
# добавлю скриншот установленного сервера в гит

# в Виндовс файл .my.cnf не работает, его необходимо назвать без точки my.cnf
# и находится он должен не в папке пользователя, как указанно в методичке,
# а в папке c:\Windows
[client]
user=root
password=123